@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  font-family: Arial, Helvetica, sans-serif;
  @apply box-border;
}

body {
  @apply bg-slate-200/60  dark:bg-black;
}

.showCounter {
  @apply w-full h-screen flex flex-col items-center justify-center;
}

.countdown {
  @apply flex flex-col gap-y-8 md:flex-row md:gap-y-0 md:items-end gap-x-2;
}
.countdown-grid {
  @apply flex items-end mx-auto gap-x-2;
}

.title {
  @apply text-xl;
}

.time-section {
  @apply text-center;
}

.time-group {
  @apply flex gap-x-2;
}

.time-segment {
  @apply block text-8xl font-bold w-20 lg:w-32 md:w-24 md:text-9xl lg:text-[10rem];
}

.segment-display {
  @apply relative h-full rounded-lg shadow-md;
}

.segment-display__top,
.segment-display__bottom {
  @apply overflow-hidden text-center w-full h-1/2 relative bg-slate-200 text-black dark:bg-[#101010] dark:text-white/75;
}

.segment-display__top {
  @apply leading-[1]  rounded-t-lg;
}

.segment-display__bottom {
  @apply leading-[0] rounded-b-lg;
}

.segment-overlay {
  @apply absolute top-0 h-full w-20 lg:w-32 md:w-24;
  perspective: 400px;
}

.segment-overlay__top,
.segment-overlay__bottom {
  @apply absolute overflow-hidden text-center w-full h-1/2 bg-slate-200 text-black dark:bg-[#101010] dark:text-white/75;
}

.segment-overlay__top {
  @apply top-0 leading-[1] origin-bottom rounded-t-lg;
}

.segment-overlay__bottom {
  @apply bottom-0 leading-[0] origin-top rounded-b-lg border-t-[1.5px] border-t-slate-200/60 dark:border-t-[#101010];
}

.segment-overlay.flip .segment-overlay__top {
  animation: flip-top 0.8s linear;
}

.segment-overlay.flip .segment-overlay__bottom {
  animation: flip-bottom 0.8s linear;
}

@keyframes flip-top {
  0% {
    transform: rotateX(0deg);
  }
  50%,
  100% {
    transform: rotateX(-90deg);
  }
}

@keyframes flip-bottom {
  0%,
  50% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
